
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="NewAgentClient" asp-action="NewICSelf">New Self IC link</a>
    </li>
    <li>

    </li>

</ul>

