@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="ProductLists" asp-action="Index">Product List</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Agents" asp-action="Index">User System</a>
        </li>
        <li>
            Something else...
        </li>
        
    </ul>
<hr />
<ul>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="PostZeros" asp-action="Index">PostZero</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="PostOnes" asp-action="Index">PostOne</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="PostTwos" asp-action="Index">PostTwo</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="PostThrs" asp-action="Index">PostThr</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="PostFous" asp-action="Index">PostFou</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="PostFivs" asp-action="Index">PostFiv</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="PostSixs" asp-action="Index">PostSix</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="PostSevs" asp-action="Index">PostSev</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="PostEigs" asp-action="Index">PostEigo</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="PostNins" asp-action="Index">PostNin</a>
    </li>
</ul>