@model AURA.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link href="~/New_Css/assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
<link href="~/New_Css/assets/demo/demo.css" rel="stylesheet" />
<div class="row justify-content-center" style="margin-top:10%">
</div>
<div class="row justify-content-center">
    <div class="card border-bottom-0 border-top-0 border-right-1  border-left-0" style="width: 25rem; margin-right:2rem;">
        <div class="card-body">
            <a asp-action="Login" class="btn btn-round"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to log in</a><br />
        </div>
    </div>
    <div class="card border-bottom-0 border-top-0 border-right-0  border-left-1" style="width: 30rem;">
        <div class="card-body">
            <section>
                <h2>@ViewData["Title"]</h2>

                @if (Model.Success)
                {
                    <div class="alert alert-success">
                        <strong>@Model.Message</strong>
                    </div>
                }
                else if (!Model.Success && Model.Message != null)
                {
                    <div class="alert alert-danger">
                        <strong>@Model.Message</strong>
                    </div>
                }
                <form asp-action="ForgotPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-left">
                        <button type="submit" class="btn btn-primary btn-round">Check</button>
                    </div>
                    @if (Model.IsValidEmail)
                    {
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group text-left">
                            <button type="submit" class="btn btn-primary btn-round">Submit</button>
                        </div>
                    }
                </form>

            </section>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
