
<head>
    <style>

    </style>
</head>

<body>

    <input type="button" onclick="AddToFiv()" value="Create A 5/I Remark" />
    <p id="FivRemarkLink"></p>


    <div>
        FULL LIST: <span id="Inventory"></span>
    </div>


    <div>
        TOTAL MINUTES, LOAD AND UNLOAD: <span id="TotalCount"></span>
    </div>
    <hr />
    <div>
        <div>
            <b>ANY PLASTIC CONTAINER, TOTES, SUITCASES, OR BOXES OVER 18IN</b>
        </div>
        <input type="button" onclick="AddContainer()" id="AddContainerItem" value="ADD CONTAINER" />
        <input type="button" onclick="RemoveContainer()" id="RemoveContainerItem" value="REMOVE CONTAINER" />

        <p id="ContainerInventory"></p>
    </div>
    <hr />
    <div>
        <div>
            <b>ALL BOXES 18IN OR LESS</b>
        </div>
        <input type="button" onclick="AddBoxItem()" id="AddBoxItem" value="ADD BOX" />
        <input type="button" onclick="RemoveBox()" id="RemoveBoxItem" value="REMOVE BOX" />

        <p id="BoxInventory"></p>
    </div>

    <hr />
    <div>
        <select id="FragileItems">
            <option>FRAGILE MISC</option>
            <option>LARGE MIRROR</option>
            <option>LARGE MONITOR/TV (+40in)</option>
            <option>LARGE WALL ART</option>
            <option>PLANTS</option>
            <option>SMALL MIRROR</option>
            <option>SMALL MONITOR/TV (-40in)</option>
            <option>SMALL WALL ART</option>

        </select>
        <input type="text" id="WriteF" />
        <input type="button" onclick="AddFragileItem()" id="AddFragileItem" value="ADD FRAGILE" />

        <p id="FragileInventory"></p>
    </div>

    <hr />
    <div>
        <select id="LargeItems">
            <option>LARGE MISC</option>
            <option>ARMCHAIR</option>
            <option>BED BOX</option>
            <option>BED FRAME</option>
            <option>BED MATTRESS</option>
            <option>BOOKCASE</option>
            <option>CHINA CLOSET</option>
            <option>CHST DRAW</option>
            <option>COFFEE TABLE</option>
            <option>DINING TABLE</option>
            <option>DRESSER</option>
            <option>ENT CENTER</option>
            <option>FUTON</option>
            <option>RECLINER</option>
            <option>SOFA 2 SEAT</option>
            <option>SOFA 3 SEAT</option>
            <option>SOFA SEC</option>
            <option>WARDROBE</option>


        </select>
        <input type="text" id="WriteL" />
        <input type="button" onclick="AddLargeItem()" id="AddLargeItem" value="ADD LARGE" />

        @*<p id="LargeCount">MINUTES</p>*@
        <p id="LargeInventory"></p>
    </div>
    <hr />
    <div>
        <select id="SmallItems">
            <option>SMALL MISC</option>
            <option>BENCH</option>
            <option>BOOKSHELF</option>
            <option>CHAIR OR STOOL</option>
            <option>COAT RACK</option>
            <option>COMPUTER DESK</option>
            <option>CONSOLE TABLE</option>
            <option>END TABLE</option>
            <option>FLOOR LAMP</option>
            <option>MISC CABINETS</option>
            <option>NIGHTSTAND</option>
            <option>OTTOMAN</option>
            <option>ROCKER</option>
            <option>SERVER TABLE</option>
            <option>TV STAND</option>
            <option>WINE RACK</option>
            <option>WORK DESK</option>

        </select>
        <input type="text" id="WriteS" />
        <input type="button" onclick="AddSmallItem()" id="AddSmallItem" value="ADD SMALL" />

        @*<p id="SmallCount">MINUTES</p>*@
        <p id="SmallInventory"></p>
    </div>
    <hr />
    <div>
        <div>
            <b>COUNT HOW MANY LARGE AND SMALL ITEMS NEED TO BE WRAPPED/BLANKETED</b>
        </div>
        <input type="button" onclick="AddWrapItem()" id="AddWrapItem" value="ADD WRAPPED ITEM" />
        <input type="button" onclick="RemoveWrap()" id="RemoveWrapItem" value="REMOVE WRAPPED ITEM" />

        <p id="WrapInventory"></p>
    </div>
    <hr />

</body>

<script>
    var LargeList = ["¥L"]
    var SmallList = ["¥S"]
    var FragileList = ["¥F"]
    var BoxList = ["¥B"]
    var ContList = ["¥C"]
    var WrapList = ["¥W"]


    //large items

    function AddLargeItem() {
       
        if (!document.getElementById("WriteL").value) {

            LargeList.push(document.getElementById("LargeItems").value);
        }
        else {
            LargeList.push(document.getElementById("WriteL").value);
        }
        

        PopulateListL(LargeList);

        document.getElementById("WriteL").value = "";
    }

    function RemoveLarge(index) {
        LargeList.splice(index, 1);
        PopulateListL(LargeList);
    }

    function PopulateListL(arr) {
        LLen = arr.length;

        text = "<ol>";
        for (i = 1; i < LLen; i++) {
            text += "<li><input type='button' onclick='RemoveLarge(" + i + ")' value='X' />" + arr[i] + "</li>";
        }
        text += "</ol>";

        document.getElementById("LargeInventory").innerHTML = text;

        //totals
        var LoadMinutes = (LargeList.length * 8) + (SmallList.length * 4) + (WrapList.length * 5) + (FragileList.length * 8) + (ContList.length * 2) + (BoxList.length * .5);
        var UnloadMinutes = (LoadMinutes * .5);

        var TotalMinutes = LoadMinutes + UnloadMinutes;

        document.getElementById("TotalCount").innerHTML = TotalMinutes;

        var FullString = LargeList.concat(SmallList, FragileList);

        LenW = "¥W " + WrapList.length;
        FullString.push(LenW);

        LenB = "¥B " + BoxList.length;
        FullString.push(LenB);

        LenC = "¥C " + ContList.length;
        FullString.push(LenC);

        document.getElementById("Inventory").innerHTML = FullString.join(" /");
    }

    //small items

    function AddSmallItem() {
    

        if (!document.getElementById("WriteS").value) {

            SmallList.push(document.getElementById("SmallItems").value);
        }
        else {
            SmallList.push(document.getElementById("WriteS").value);
        }

        PopulateListS(SmallList);

        document.getElementById("WriteS").value = "";
    }

    function RemoveSmall(index) {
        SmallList.splice(index, 1);
        PopulateListS(SmallList);
    }

    function PopulateListS(arr) {
        SLen = arr.length;

        text = "<ol>";
        for (i = 1; i < SLen; i++) {
            text += "<li><input type='button' onclick='RemoveSmall(" + i + ")' value='X' />" + arr[i] + "</li>";
        }
        text += "</ol>";

        document.getElementById("SmallInventory").innerHTML = text;

        //totals
        var LoadMinutes = (LargeList.length * 8) + (SmallList.length * 4) + (WrapList.length * 5) + (FragileList.length * 8) + (ContList.length * 2) + (BoxList.length * .5);
        var UnloadMinutes = (LoadMinutes * .5);

        var TotalMinutes = LoadMinutes + UnloadMinutes;

        document.getElementById("TotalCount").innerHTML = TotalMinutes;

        var FullString = LargeList.concat(SmallList, FragileList);

        LenW = "¥W " + WrapList.length;
        FullString.push(LenW);

        LenB = "¥B " + BoxList.length;
        FullString.push(LenB);

        LenC = "¥C " + ContList.length;
        FullString.push(LenC);

        document.getElementById("Inventory").innerHTML = FullString.join(" /");
    }

    //wrap list

    function AddWrapItem() {
        WrapList.push(1)

        PopulateListW(WrapList);
    }

    function RemoveWrap(index) {
        WrapList.pop();
        PopulateListW(WrapList);
    }

    function PopulateListW(arr) {
        LenW = arr.length;

        text = LenW;

        document.getElementById("WrapInventory").innerHTML = text;

        //totals
        var LoadMinutes = (LargeList.length * 8) + (SmallList.length * 4) + (WrapList.length * 5) + (FragileList.length * 8) + (ContList.length * 2) + (BoxList.length * .5);
        var UnloadMinutes = (LoadMinutes * .5);

        var TotalMinutes = LoadMinutes + UnloadMinutes;

        document.getElementById("TotalCount").innerHTML = TotalMinutes;

        var FullString = LargeList.concat(SmallList, FragileList);


        LenW = "¥W " + WrapList.length;
        FullString.push(LenW);

        LenB = "¥B " + BoxList.length;
        FullString.push(LenB);

        LenC = "¥C " + ContList.length;
        FullString.push(LenC);

        document.getElementById("Inventory").innerHTML = FullString.join(" /");
    }


    //fragile list

    function AddFragileItem() {
        

        

        if (!document.getElementById("WriteF").value) {

            FragileList.push(document.getElementById("FragileItems").value)
        }
        else {
            FragileList.push(document.getElementById("WriteF").value);
        }


        PopulateListF(FragileList);

        document.getElementById("WriteF").value = "";
    }

    function RemoveFragile(index) {
        FragileList.splice(index, 1);
        PopulateListF(FragileList);
    }

    function PopulateListF(arr) {
        FLen = arr.length;

        text = "<ol>";
        for (i = 1; i < FLen; i++) {
            text += "<li><input type='button' onclick='RemoveFragile(" + i + ")' value='X' />" + arr[i] + "</li>";
        }
        text += "</ol>";

        document.getElementById("FragileInventory").innerHTML = text;

        //totals
        var LoadMinutes = (LargeList.length * 8) + (SmallList.length * 4) + (WrapList.length * 5) + (FragileList.length * 8) + (ContList.length * 2) + (BoxList.length * .5);
        var UnloadMinutes = (LoadMinutes * .5);

        var TotalMinutes = LoadMinutes + UnloadMinutes;

        document.getElementById("TotalCount").innerHTML = TotalMinutes;

        var FullString = LargeList.concat(SmallList, FragileList);

        LenW = "¥W " + WrapList.length;
        FullString.push(LenW);

        LenB = "¥B " + BoxList.length;
        FullString.push(LenB);

        LenC = "¥C " + ContList.length;
        FullString.push(LenC);

        document.getElementById("Inventory").innerHTML = FullString.join(" /");
    }


    //BOX LIST

    function AddBoxItem() {
        BoxList.push(1)

        PopulateListB(BoxList);
    }

    function RemoveBox() {
        BoxList.pop();
        PopulateListB(BoxList);
    }

    function PopulateListB() {
        LenB = BoxList.length

        text = LenB;

        document.getElementById("BoxInventory").innerHTML = text;

        //totals
        var LoadMinutes = (LargeList.length * 8) + (SmallList.length * 4) + (WrapList.length * 5) + (FragileList.length * 8) + (ContList.length * 2) + (BoxList.length * .5);
        var UnloadMinutes = (LoadMinutes * .5);

        var TotalMinutes = LoadMinutes + UnloadMinutes;


        document.getElementById("TotalCount").innerHTML = TotalMinutes;

        var FullString = LargeList.concat(SmallList, FragileList);

        LenW = "¥W " + WrapList.length;
        FullString.push(LenW);

        LenB = "¥B " + BoxList.length;
        FullString.push(LenB);

        LenC = "¥C " + ContList.length;
        FullString.push(LenC);

        document.getElementById("Inventory").innerHTML = FullString.join(" /");
    }

    //container list

    function AddContainer() {
        ContList.push(1)

        PopulateListC(ContList);
    }

    function RemoveContainer() {
        ContList.pop();
        PopulateListC(ContList);
    }

    function PopulateListC() {
        LenC = ContList.length

        text = LenC;

        document.getElementById("ContainerInventory").innerHTML = text;

        //totals
        var LoadMinutes = (LargeList.length * 8) + (SmallList.length * 4) + (WrapList.length * 5) + (FragileList.length * 8) + (ContList.length * 2) + (BoxList.length * .5);
        var UnloadMinutes = (LoadMinutes * .5);

        var TotalMinutes = LoadMinutes + UnloadMinutes;

        document.getElementById("TotalCount").innerHTML = TotalMinutes;

        var FullString = LargeList.concat(SmallList, FragileList);

        LenW = "¥W " + WrapList.length;
        FullString.push(LenW);

        LenB = "¥B " + BoxList.length;
        FullString.push(LenB);

        LenC = "¥C " + ContList.length;
        FullString.push(LenC);

        document.getElementById("Inventory").innerHTML = FullString.join(" /");
    }

    //link for fiv inventory

    function AddToFiv() {

        var FullString = LargeList.concat(SmallList, FragileList);
        LenW = WrapList.length;
        FullString.push("WRAP-" + LenW);
        LenB = BoxList.length;
        FullString.push("BOXS-" + LenB);
        LenC = ContList.length;
        FullString.push("CONT-" + LenC);




        var LoadMinutes = (LargeList.length * 8) + (SmallList.length * 4) + (WrapList.length * 5) + (FragileList.length * 8) + (ContList.length * 2) + (BoxList.length * .5);
        var UnloadMinutes = (LoadMinutes * .5);

        var TotalMinutes = LoadMinutes + UnloadMinutes;

        FullString.push("LOAD TIME:" + TotalMinutes + "min");


        var Inventory = FullString.join(" /");

        //var text = "<a asp-action="FivCreate" asp-route-zero="@ViewBag.zero" asp-route-code="I" asp-route-priority="5" asp-route-remark=" + Inventory + ">ADD 5/I</a>";
        var text = "<a href='FivCreate?zero=@ViewBag.zero&code=I&priority=5&remark=" + Inventory + "'>CLICK HERE TO SEND TO 5/I</a>";

        document.getElementById("FivRemarkLink").innerHTML = text;
    }

</script>

    
