@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<form asp-action="DownloadSevTable" method="post">
    <p>
        Records Start Date : <input type="date" name="startDate" />
        <input type="submit" value="CSV" />
    </p>
</form>

<div class="col-6 text-right">
    <a class="btn btn-primary" asp-action="DownloadPostOneCommaSeperatedFileSev"><i class="fa fa-plus"></i>Export CSV</a>
</div>

