@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <form asp-action="SevReport" method="post">
        <p>
            Start Date: <input type="date" name="sDate" />
            End Date: <input type="date" name="eDate" />
        </p>
        <p>
            Ac1: <input type="text" name="ac1" />
        </p>
        <p>
            Ac2: <input type="text" name="ac2" />
        </p>
        <p>
            Acf: <input type="text" name="acf" />
        </p>
        <p>
            <input type="submit" value="Create Report to CSV" />
        </p>
        
        
        
    </form>


