@model AURA.Models.PostSix

@{
    ViewData["Title"] = "SixEdit";
}

<h1>SixEdit</h1>

<h4>PostSix</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SixEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SixId" />
            <div class="form-group">
                <label asp-for="SixZero" class="control-label"></label>
                <input asp-for="SixZero" class="form-control" />
                <span asp-validation-for="SixZero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SixDigit" class="control-label"></label>
                <input asp-for="SixDigit" class="form-control" />
                <span asp-validation-for="SixDigit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SixDate" class="control-label"></label>
                <input asp-for="SixDate" class="form-control" />
                <span asp-validation-for="SixDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SixType" class="control-label"></label>
                <input asp-for="SixType" class="form-control" />
                <span asp-validation-for="SixType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SixDeta" class="control-label"></label>
                <input asp-for="SixDeta" class="form-control" />
                <span asp-validation-for="SixDeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SixAmou" class="control-label"></label>
                <input asp-for="SixAmou" class="form-control" />
                <span asp-validation-for="SixAmou" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SixStat" class="control-label"></label>
                <input asp-for="SixStat" class="form-control" />
                <span asp-validation-for="SixStat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SixNote" class="control-label"></label>
                <input asp-for="SixNote" class="form-control" />
                <span asp-validation-for="SixNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AGTDetail" asp-route-zero="@Model.SixZero">AGTDetail</a>
</div>

