@model AURA.Models.AgentsPhone

@{
    ViewData["Title"] = "CreatePhone";
}

<h1>CreatePhone</h1>

<h4>AgentsPhone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePhone">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.userid" readonly="readonly" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryCode" class="control-label"></label>
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrierName" class="control-label"></label>
                <i>[US NUMBERS ONLY!]</i>
                @*<input asp-for="CarrierName" class="form-control" />*@
            <select asp-for="CarrierName">
                <option></option>
                <option>txt.att.net</option>
                <option>mobile-number@vtext.com</option>
                <option>mobile-number@tmomail.net</option>
                <option>messaging.sprintpcs.com</option>
                <option>message.Alltel.com</option>
                <option>myboostmobile.com</option>
                <option>sms.mycricket.com</option>
                <option>mymetropcs.com</option>
            </select>
                <span asp-validation-for="CarrierName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="EmailText" class="control-label"></label>
                <input asp-for="EmailText" class="form-control" />
                <span asp-validation-for="EmailText" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AgentDetail" asp-route-UserId="@ViewBag.userid">Back to Detail</a>
</div>

