@model AURA.Models.AgentsPayment

@{
    ViewData["Title"] = "CreatePayment";
}

<h1>CreatePayment</h1>

<h4>AgentsPayment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.userid" readonly="readonly" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <input asp-for="PaymentType" class="form-control" />
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDetail" class="control-label"></label>
                <input asp-for="PaymentDetail" class="form-control" />
                <span asp-validation-for="PaymentDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AgentDetail" asp-route-UserId="@ViewBag.userid">Back to Detail</a>
</div>


