@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pricing">Pricing Guide</a>

<h2>AURA</h2>

<p>
    The concept behind AURA is that data can be unified. That the same data that sales uses, accounting, operations, and management also use.
    If this is true, then the problem isn't just collecting the data; it's distributing the data appropriately to where it needs to go, at the
    right time. Data is a resource, a raw material on which we can build a business. AURA helps to organize business data simply and easily.
</p>

<h3>POSTS</h3>
<p>
    Posts are essentially containers of data. They carry data between the different elements of a business in an organized and easy way.
</p>