@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<div>
    <strong>Ops can do the following:</strong>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Availability" asp-action="Index">Calendar</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="AgentClient" asp-action="Index">Operations Home</a>
        </li>
    </ul>
</div>
