@model AURA.Models.MiscText

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MiscText</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" style="width:400px" />
                @*<textarea asp-for="Title" class="form-control" style="width:400px"></textarea>*@
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="width:400px; height:75px"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullText" class="control-label"></label>
                <textarea asp-for="FullText" class="form-control" style="width:800px; height:1000px"></textarea>
                <span asp-validation-for="FullText" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="LastUpdate" class="control-label"></label>
            <input asp-for="LastUpdate" class="form-control" />
            <span asp-validation-for="LastUpdate" class="text-danger"></span>
        </div>*@
            
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

